@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Karla:wght@300&family=Lato:ital,wght@1,300&family=Roboto&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}

.navibar {
  height: 80px;
  background-color: #a792b3;
}
.offCan {
  background-color: #3d3c3a;
}

#heroVid {
  width: 100% !important;
  height: auto !important;
  position: relative;
}

.navbar-toggler-icon {
  filter: invert(80);
}

.navibar > span {
  background-color: black;
  background-size: 70px;
}

.regPage {
  background-color: #ffffed;
}

.LoginPage {
  background-color: #fffcf7;
  height: 74vh;
}
.LoginContainer {
  height: 54vh;
}
.LoginContainer > .btn-Login {
  background-color: #3d3c3a;
}

.btn-Login {
  background-color: #a792b3;
  border-color: #a792b3;
}
.text-login {
  color: #0096ff;
  text-decoration: none;
  cursor: pointer;
}
.RegisterPage {
  background-color: #fffcf7;
  height: 120vh;
}
.RegisterContainer {
  height: auto;
  padding-top: 80px;
}

.btn-Register {
  background-color: #a792b3;
  border-color: #a792b3;
}

/* home */

.swiper {
  width: 100%;
  height: 90%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#home-banner {
  height: 35rem;
  padding-bottom: 0px;
}
/* products.jsx */

#product-img {
  object-fit: cover;
  object-position: center;
  cursor: pointer;

  height: 200px;
}

/* SellPage */
.sellPage {
  background-color: #ffffed;
}

#footer-sec {
  background-color: #92a1b3;
}

#footer-sec p {
  color: #f7fbff;
}
