@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Karla:wght@300&family=Lato:ital,wght@1,300&family=Roboto&display=swap');
*{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
}

.navibar{
  height: 80px;
  background-color:#DDD5f3;
}
.offCan{
  background-color: #3D3C3A;
}

#heroVid{
  width: 100% !important;
  height: auto !important;
  position: relative;
}

.navbar-toggler-icon{
  filter:invert(80)
  }

.navibar > span{
    background-color: black;
    background-size: 70px;
  }

  .regPage{
    background-color: #ECC9EE;
  }